@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: rgb(14, 0, 17);
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 0;
    overflow-x: hidden;
    color: white;
    align-items: center;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#img-page {
    width: 400px;
    height: 350px;
}

#span-price {
    font-size: 35px;
}

#span-stock {
    font-size: 20px;
}

#span-description {
    display: flex;
    align-items: center;
    height: 90px;
    width: auto;
    padding: 10px;
    border: 1px solid rgb(209, 165, 124);
    border-radius: 7px;
    margin: 20px;
}

#btn-add-cart {
    width: 80%;
    height: 45px;
    background-color: rgb(59, 207, 0);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 7px;
}

#btn-buy-now {
    width: 80%;
    height: 45px;
    background-color: rgb(196, 0, 91);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 7px;
}

#btn-add-cart:hover,
#btn-buy-now:hover {
    opacity: 0.8;
}

.btns-buy {
    display: flex;
    width: 300px;
    height: 90px;
}

